@model IEnumerable<String>

@{
    ViewBag.Title = "Details";
    var User = ViewBag.user;

}

<h2>Details</h2>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            User Name
        </dt>

        <dd>
            @User.UserName
        </dd>

        <dt>
            E-Mail
        </dt>

        <dd>
            @User.Email
        </dd>
        <dt>
            Rules
        </dt>

        <dd>
            @foreach (var item in Model)
            {
                if (item != null)
                {  @item;
                }

            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = User.Id }) |
    
    @Html.ActionLink("Back to List", "Index")
</p>


