@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Buy a New Car</h1>
    <p class="lead">Find the right new car to buy with our extensive new car shopping resources.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div id="articlesection">
<div class="row">
    <div class="col-md-4">
        <h2>New Car Buying Articles</h2>
        <p>
            New Car Buying Articles
            Overcoming 3 Common Car Shopping Emotions
            We tend to think of ourselves as analytical and logical people. But the moment we step onto a dealership lot and see the car we've always wanted, logic tends to go right out the window. Learn how you can control three emotions that could impact you the most when it comes to car shopping.
            Decoding the Car Window Sticker Mystery
            Dealerships put car window stickers in large print and stick them right there on the window. But how do you read them? Here's some information to explain what all the facts and figures mean to you as the consumer.
            Buying New: The Utmost in Confidence
            Other than a home, buying a car might be the biggest purchase you'll ever make. Where do you start? Right here.
            Pros and Cons of Leasing
            Leasing a vehicle can be good for some people, depending on their needs, their lifestyle and preferences. Read more about what to consider when deciding whether or not to lease.
        </p>
         
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Registered MyCar members get access to a network of more than 13,000 Certified Dealers who are committed to price transparency and upfront pricing. Members also have access to our mobile Price Check tool that provides upfront pricing on any new car available on Certified Dealer lots nationwide.

Get started with TrueCar today to experience ultimate pricing transparency. Choose a Vehicle ».</p>
        
    </div>
    
</div>
</div>